body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#start, #noofobjects{
    font-size: 18px;
}

.copyright{
    position: fixed;
    color: maroon;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}

label{
    color: white;
}